<!DOCTYPE html>
<html>

    <head>

        <title>CIS资产管理系统</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="../static/jquery-1.11.1-dist/jquery.min.js"></script>
        <script src="../static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
        <script src="../static/my-js/maketable.js"></script>

    </head>
    
    <body>

        <div class="container-fluid">

            <div id="header" class="row">
                {% include 'header.html' %}
            </div>
    
            <div id="content" class="row" align="center">
                {% block content %}{% endblock %}
            </div>
    
            <div id="footer" class="row" align="center">
                {% include 'footer.html'%}
            </div>

        </div>

    </body>

</html>
