    <h1>XXX管理系统</h1>
    <a href="http://192.168.18.132:8000/filter_user?id=&user_name=&tel=&qq=&email=&user_comment=">查询用户表</a>
    <a href="http://192.168.18.132:8000/filter_asset?id=&asset_mark=&asset_name=&intake_date=&warranty_period=&price=">查询资产表</a>
    <a href="http://192.168.18.132:8000/filter_maintenance/?id=&asset_name=&asset_mark=&user_name=&fault_cause=&occur_date=&repair_date=&repair_result=">查询维修记录</a>
    <a href="http://192.168.18.132:8000/filter_usagerecord?id=&asset_name=&asset_mark=&user_name=&begin_date=&end_date">查询使用记录</a>
