<div style="padding:16px;">
    <h1>CIS资产管理系统 <small>v1.0</small></h1>

    <br>

    <ul class="nav nav-tabs">

        <li> <a href="/">首页</a> </li>
        <li> <a href="/help">帮助</a> <li>
        <li> <a href="/about">关于</a> </li>
        <li class="disabled"> <a href="#">更多功能</a> </li>

        <li class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">联系我们</a>
            <ul class="dropdown-menu">
                <li> <a href="javascript:alert('qiaoantong@chinaitsoft.com')">邮件地址</a> </li>
                <li> <a href="http://www.chinaitsoft.com">公司网站</a> </li>
            </ul>
        </li>

    </ul>

</div>
