{% extends 'update_row_pre.html' %}

{% block update %}

    <p id=title></p>

    <form id="form" class="form-horizontal" action="/update_user" method="get">
        <p>用户ID： <input type="text" name="id"></p>
        <p>姓名：   <input type="text" name="user_name"></p>
        <p>电话：   <input type="text" name="tel"></p>
        <p>QQ号：   <input type="text" name="qq"></p>
        <p>邮箱：   <input type="text" name="email"></p>
        <p>备注：   <input type="text" name="user_comment"></p>
        <p><input type="submit" value="提交"></p>
    </form>

    <script>
        //!需要有表单验证
        var rowdata = {{ data|safe }};
        form = document.getElementById("form")
        console.log(form)

        id = document.getElementsByName("id")[0]
        user_name = document.getElementsByName("user_name")[0]
        tel = document.getElementsByName("tel")[0]
        qq = document.getElementsByName("qq")[0]
        email = document.getElementsByName("email")[0]
        user_comment = document.getElementsByName("user_comment")[0]

        id.value = rowdata[0][0]
        user_name.value = rowdata[0][1]
        tel.value = rowdata[0][2]
        qq.value = rowdata[0][3]
        email.value = rowdata[0][4]
        user_comment.value = rowdata[0][5]

    </script>

{% endblock %}
